ebody {
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo {
    display: inline-block;
    width: 90px;
    vertical-align: top;
    align-items: center;
}

.navigation {
    display: inline-block;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    margin: 20px;
}

.menu-text {
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: black;
    line-height: 18px;
}

.banner {
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 40px;
}

h1 {
    font-family: sans-serif;
    font-size: 35px;
    font-weight: lighter;
}

button {
    padding: 10px;
    border-color: black;
    background-color: white;
    outline-style: none;
    font-size: 13px;
    font-family: sans-serif;
}

p {
    font-family:sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.intro {
    padding: 60px;
}
.description {
    font-family:sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: lighter;
}


.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
}

.grid-item {
    margin: 10px;
}


img {
    width: 100%;
}
